/*Header logo STYLING*/
@font-face {
  font-family: quirkyRobot;
  src: url(../img/quirkyRobot.ttf);
}

#blackLine {
  border-bottom: 20px solid black;
}

#header {
  margin-top: 100px;
}

#header h1{
  margin-left: 20px;
  font-family: quirkyRobot;
  font-size: 100px;
  float: right;
  padding-top: 15%;
}

#headerLogo {
  float: left;
  height: 275px;
  width: 400px;
  margin-bottom: 50px;
}


/* nav bar css -----------> */

#indexNav {
  overflow: hidden;
  background-color: #CDAF50;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
}

/* nav bar css end ---------> */

/* beginning circles */
.infoBubbles {
  margin-top: 40px;
}

.explanation {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: sans-serif;
  justify-content: space-evenly;
}

.explanation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  padding: 30px;
  padding-top: 70px;
  text-align: center;
  color: black;
  background-image: url(../img/nature8.jpg);
  background-color: lightgray;
  font-size: 16px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}

.explanation1:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explanation2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border: 4px solid white;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  color: black;
  background-image: url(../img/nature9.jpg);
  background-color: lightgray;
  font-size: 16px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explanation2:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explantion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 60px;
  border: 4px solid white;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  text-align: center;
  color: black;
  background-image: url(../img/nature10.png);
  background-color: lightgray;
  font-size: 16px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explantion3:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explantion4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  padding: 30px;
  padding-top: 60px;
  text-align: center;
  color: black;
  background-image: url(../img/nature11.jpg);
  background-color: lightgray;
  font-size: 16px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explantion4:hover {
  transform: scale(1.2);
  font-weight: bold;
}
/* end circles styling */

.legendTitle {
  text-align: center;
}

.legend {
  list-style-type: none;
}

#legendBox {
  display: flex;
  justify-content: center;
}

#purple {
  background-color: #7310b2;
  border: 4px solid #7310b2;
  color: #7310b2;
  margin-right: 5px;
  border-radius: 50%;
}

#green {
  background-color: #A4CF7D;
  border: 4px solid #A4CF7D;
  color: #A4CF7D;
  margin-right: 5px;
  border-radius: 50%;
  line-height: 3rem;
}

#teal {
  background-color: #5FC4AF;
  border: 4px solid #5FC4AF;
  color: #5FC4AF;
  margin-right: 5px;
  border-radius: 50%;
}

#yellow {
  background-color: yellow;
  border: 4px solid yellow;
  color: yellow;
  margin-right: 5px;
  border-radius: 50%;
  line-height: 3rem;
}

#orange {
  background-color: orange;
  border: 4px solid orange;
  color: orange;
  margin-right: 5px;
  border-radius: 50%;
}

#calendar {
  display: flex;
  justify-content: center;
}

.advocate img {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-bottom: 5%;
  border-radius: 70%;
  border: 1.3px solid black;
  padding: 5px;
  margin-left: 40px;
  margin-right: 40px;
}
