/* * {
  border:1px dashed black;
} */

body {
  background-color: #afaea8;
}

/* nav bar css -----------> */
#indexNav {
  overflow: hidden;
  background-color: #FFFFFF;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
}

/* nav bar css end ---------> */

#welcome {
  padding: 3px;
  margin-top: 10%;
}

.jumbotron h1 {
  text-align: center;
  font-size: 80px;
}

.jumbotron h3 {
  text-align: center;
  letter-spacing: 5px;
  line-height: 30px;
}

/* //jumbotron date css -----> */
#date {
  width: 30%
  margin-bottom: -30%;
  padding: 3px;
  margin-top: 10%;
}

#date h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 10px;
}

/* Flexbox for index start -------> */
.content {
  display: flex;
  height: 400px;
  color: black;
  overflow: hidden;
  border: 5px solid black;
  margin-bottom: 10%;
}

.col {
  background: yellow;
  color: #000000;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow .2s;
  transform: skew(-20deg, 0);
}

/* Creates borders in between  */
.col + .col {
  border-left: 10px solid black;
}

.col:first-child {
  margin-left: -100px;
  /* padding-left: 2px; */
}

.col:middle-child {
  margin: 10px;
  padding: 10%;
}

.col:last-child {
  margin-right: -100px;
}

.col::before {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% + 200px);
  margin-left: -100px;
  display: block;
  background-attachment: fixed;
  transform: skew(20deg, 0);
}

.col:hover {
  flex-grow: 5;
  transition: flex-grow .2s;
}

.col h1 {
  margin: 0;
  padding left: 10px;
  transform: skew(20deg, 0);
}

.col:first-child h1 {
  margin-left: 40px;
}

#col1 {
  padding-left: 20px;
}

#col1 {
  padding-left: 30px;
  padding-right: 30px;
  font-style: normal;
}

#col1 p{
  padding-left: 100px;
}

#col2 {
}

#col3 {
 padding-right: 13%;
 padding-left: 3%;
}

.content h1 {
  font-size: 50px;
  letter-spacing: -2px;
  padding-left: -1px;
}

.content p {
  transform: skew(20deg, 0);
}

#col2 {
  color: #FFFFFF;
  background: url("https://images.unsplash.com/photo-1469449660581-b1867dc87ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: fixed;
  background-size: cover;
}

a:hover {
  color: #000000;
  font-weight: bold;
}

a {
  text-decoration: none;
}


/* End flexbox table ---------> */
