@font-face {
  font-family: quirkyRobot;
  src: url(img/quirkyRobot.ttf);
}
/* * {
  border:1px dashed black;
} */

body {
  background-color: #FFFFFF;
}

/* nav bar css -----------> */

#indexNav {
  overflow: hidden;
  background-color: #CDAF50;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
}

/* nav bar css end ---------> */

/* styling for logo & header  */

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: #a8adac;
  }

#mainHeader {
  /* display: flex; */
  /* justify-content: center;
  align-items: end; */
  text-align: center;
  background-color: #a8adac;
  font-size: 100px;
  font-weight: lighter;
  font-family: quirkyRobot;
  padding-top: 20px;
  color: #232625;
}

  /* end logo & header styling */
  /* welcome blurb styling */

h1 {
  text-align: center;
  padding-top: 40px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 80px;
}

.jumbotron h3 {
  text-align: center;
  letter-spacing: 5px;
  line-height: 30px;
}

/* //jumbotron date css -----> */
#date {
  width: 30%
  margin-bottom: -30%;
  padding: 3px;
  margin-top: 40px;
  border: 2px solid black;
  background: #D3D6D4;
}

#date h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 10px;
}

/* Flexbox for index start -------> */
.content {
  display: flex;
  height: 400px;
  color: black;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 8px;
  margin-bottom: 40px;
}

.col {
  /* color of slide menu */
  background: #CDAF50;
  color: #000000;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow .2s;
  transform: skew(-20deg, 0);
}

/* Creates borders in between  */
.col + .col {
  border-left: 10px solid black;
}

.col:first-child {
  margin-left: -100px;
  /* padding-left: 2px; */
}

.col:middle-child {
  margin: 10px;
  padding: 10%;
}

.col:last-child {
  margin-right: -100px;
}

.col::before {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% + 200px);
  margin-left: -100px;
  display: block;
  background-attachment: fixed;
  transform: skew(20deg, 0);
}

.col:hover {
  flex-grow: 5;
  transition: flex-grow .2s;
}

.col h1 {
  margin: 0;
  padding left: 10px;
  transform: skew(20deg, 0);
  /* font-size: 40px; */
}

.col:first-child h1 {
  /* margin-left: 10px; */
}

#col1 {
  padding-left: 100px;
  padding-right: 30px;
  font-style: normal;
}

#col1 p{
  padding-left: 100px;
}

#col2 p {
  padding-left: 50px;
  padding-right: 25px;
}

#col3 {
 padding-right: 13%;
 padding-left: 3%;
}

/* #col3 p {
  text-align: center;
} */

.content h1 {
  font-size: 40px;
  letter-spacing: 3px;
  padding-left: -1px;
  font-style: quirkyRobot;
}

.content p {
  transform: skew(20deg, 0);
}

#col2 {
  color: #FFFFFF;
  background: url("https://images.unsplash.com/photo-1469449660581-b1867dc87ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: fixed;
  background-size: cover;
}

a:hover {
  color: #000000;
  font-weight: bold;
}

a {
  text-decoration: none;
}
/* End flexbox table ---------> */

/* begin styling for seasonalDates */
#seasonal p {
  text-align: center;
  font-size: 24px;
}

.seasonalDatesOne {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.seasonalDatesTwo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
/* circle flip card */
.circle-container {
	position: relative;
	perspective: 1000;
	margin: 0 auto;
}
.circle-container:hover .circle {
	transform: rotate3d(45, 45, 0, 180deg);
}
.circle-container:hover .outer-ring {
	transform: rotate3d(45, 0, 0, 180deg);
}
.circle-container:hover .outer-outer-ring {
	transform: rotate3d(0, 45, 0, 180deg);
}
.circle-container, .front, .back {
	width: 250px;
	height: 250px;
	background-color: rgba(0,0,0,0);
}
.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.circle {
	position: relative;
	width: 250px;
	height: 250px;
}
.front, .back {
	border-radius: 50%;
	backface-visibility: hidden;
	position: absolute;
  width: 100%;
  height: 100%;
}
.back {
	transform: rotate3d(45,45,0,180deg);
	background-color: #a8adac;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** end circle flip card */

.circle-container img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 0px 10px 10px 10px;
}
