/* * {
  border:1px dashed black;
} */

/* body {
  background-color: #afaea8;
} */

/* nav bar css -----------> */
#indexNav {
  overflow: hidden;
  background-color: #e4c4ff;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
}

#indexNav a {
  text-align: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
}

/* nav bar css end ---------> */

.box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a38e1a;
  font-size: 20px;
  padding: 10px;
}

/* styling for calendar */
/* body {
  background-color: #ada16d;
} */

.explanation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  justify-content: space-evenly;
}

.explanation1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid lightgray;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  background-color: lightgray;
  font-size: 14px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}

.explanation1:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explanation2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 4px solid lightgray;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: lightgray;
  font-size: 14px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explanation2:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explantion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 4px solid lightgray;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  text-align: center;
  background-color: lightgray;
  font-size: 14px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explantion3:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.explantion4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid lightgray;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  background-color: lightgray;
  font-size: 14px;
  line-height: 30px;
  transition: all .2s ease-in-out;
}
.explantion4:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.box.flex {
  display: flex;
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px;
  justify-content: center;
}

#purple {
  color: #7310b2;
}

#green {
  color: #70cc20;
}

#teal {
  color: #5baf85;
}

#yellow {
  color: yellow;
}

#orange {
  color: orange;
}

.card-title {
  text-align: center;
  border: 2px solid lightgray;
  padding: 5px;
  background-color: lightgray;
  border-radius: 8px;
}

.card {
  background-color: gray;
}

#mapLink {
  background-color: gray;
  padding-right: 10px;
  font-size: 18px;
}

#hyper a {
  color: #175459;
  text-decoration: none;
}

/*CSS STYLING FOR searchByLocation.html*/
#map {
  height: 500px;
  width: 100%;
  align-items: center;
  border: 3px solid black;
  padding: 20px;
  margin: 20px;
}

#locationInfoDisplay {
  margin: 40px;
  padding: 10px;
  display: none;
  border: 2px solid black;
  font-family: serif;
  background-color: rgb(255,255,255, 0.7);

}

#locationInfoDisplay h1 {
  border-bottom: 2px solid black;
  font-family: serif;
  font-weight: 600;
}

#hiddenInfo {
  display: none;
}

.intro {
  display: flex;
  color: black;
  background-image: url(../img/wheatBackground.png);
  /* Parallax  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.infoDisplay {
  display: flex;
  color: black;
  background-image: url(../img/wheatBackground.png);
  /* Parallax  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
}

/*Header logo STYLING*/
@font-face {
  font-family: quirkyRobot;
  src: url(../img/quirkyRobot.ttf);
}

#blackLine {
  border-bottom: 20px solid black;
}

#header {
  margin-top: 100px;
}

#header h1{
  margin-left: 20px;
  font-family: quirkyRobot;
  font-size: 100px;
  float: right;
  padding-top: 8%;
}

#headerLogo {
  float: left;
  height: 275px;
  width: 400px;
  margin-bottom: 50px;
}
