/* * {
  border:1px dashed black;
} */

body {
  background-color: #afaea8;
}

.box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a38e1a;
  font-size: 20px;
  padding: 10px;
}

/* nav bar css -----------> */
#indexNav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 92.5%;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
}

#indexNav a {
  text-align: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
}

/* nav bar css end ---------> */

.jumbotron {
  padding: 3px;
  margin-top: 10%;
}

.jumbotron h1 {
  text-align: center;
  font-size: 80px;
}

.jumbotron h3 {
  text-align: center;
  letter-spacing: 5px;
  line-height: 30px;
}

#date {
  width: 30%
  margin-bottom: 0%;
}

#date h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 10px;
}

/* Flexbox for index start -------> */
.content {
  display: flex;
  height: 400px;
  color: black;
  overflow: hidden;
  border: 5px solid black;
}

.col {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow .3s;
  transform: skew(-20deg, 0);
  background: yellow;
  padding-right: 10px;
  color: #000000;
}

.col + .col {
  border-left: 10px solid black;
}

.col:first-child {
  margin-left: -100px;
  padding-left: 80px;
}
.col:last-child {
  margin-right: -100px;
}

.col::before {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% + 200px);
  margin-left: -100px;
  display: block;
  background-attachment: fixed;
  transform: skew(30deg, 0);
}

.col:hover {
  flex-grow: 4;
  transition: flex-grow .3s;
}

.col h1 {
  margin: 0;
  padding: 10px;
  transform: skew(20deg, 0);
}

.col:first-child h1 {
  margin-left: 40px;
}


#col1 {
 /* color: red; */
 padding-left: 70px;
}


#col2 {
 /* color: green; */
}

#col3 {
 /* color: blue; */
 padding-right: 70px;
}

/* End flexbox table ---------> */

/*CSS STYLING FOR searchByLocation.html*/
#map {
  height: 400px;
  width: 100%;

}
